.DS_Store
node_modules/
.env
.env.local
*.log

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output (Frontend & Backend)
dist
dist-ssr
build/
*.local

# Node.js / Express & TypeScript
.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
.nyc_output/
.node_repl_history
.pm2/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


