.purple-btn {
  background-color: #d1aaff !important;
  /* border: 1px solid #9944fc !important; */
  color: #0f1364 !important;
  font-weight: 600;
  transition: all 0.2s ease;
}

.purple-btn:hover {
  background-color: #9944fc !important;
  border-color: #9944fc !important;
  color: #ffffff !important;
}

.purple-outline-btn {
  background-color: transparent;
  border: 1px solid #9f46ed;
  color: #9f46ed !important;
}

.purple-outline-btn:hover {
  background-color: #9f46ed !important;
  color: #0f1364 !important;
}

.purple-text {
  color: #9f46ed !important;
}
body {
  font-family: "Poppins", sans-serif !important;
}
